<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libre.mapper.BookMapper">
    <!--图书分页查询-->
    <select id="pageQueryBook" resultType="com.libre.pojo.vo.admin.BookPageVO">
        select book.id,
        book.book_name,
        book.author_id,
        book.publisher_id,
        book.category_id,
        book.cover_url,
        book.isbn,
        book.bookshelf,
        book.publish_date,
        book.number,
        book.available_number,
        author.author_name,
        publish.publisher_name,
        category.category_name
        from tb_book book
        join tb_author author on book.author_id = author.id
        join tb_publisher publish
        on book.publisher_id = publish.id
        join tb_category category on book.category_id = category.id
        where book.is_delete=0
        <if test="bookPageDTO.bookName != null and bookPageDTO.bookName != ''">
            and book.book_name like concat('%', #{bookPageDTO.bookName}, '%')
        </if>
        <if test="bookPageDTO.authorId != null">
            and book.author_id = #{bookPageDTO.authorId}
        </if>
        <if test="bookPageDTO.publisherId != null">
            and book.publisher_id = #{bookPageDTO.publisherId}
        </if>
        <if test="bookPageDTO.categoryId != null">
            and book.category_id = #{bookPageDTO.categoryId}
        </if>
        <if test="bookPageDTO.publishStartTime != null">
            and book.publish_date &gt;= #{bookPageDTO.publishStartTime}
        </if>
        <if test="bookPageDTO.publishEndTime != null">
            and book.publish_date &lt;= #{bookPageDTO.publishEndTime}
        </if>
    </select>
    <!-- 查询最新添加的图书-->
    <select id="getHomeTopLatestBookList" resultType="com.libre.pojo.vo.app.HomeTopLatestBookItem">
        select book.id, book.book_name, author.author_name, book.cover_url, book.publish_date, book.create_time
        from tb_book book
                 join tb_author author on book.author_id = author.id
        where book.is_delete = 0
        order by book.create_time desc
        limit 3
    </select>
    <!--ES全量同步-->
    <select id="findAllBookDocs" resultType="com.libre.pojo.doc.BookDoc">
        SELECT book.id,
               book.book_name,
               author.author_name,
               publisher.publisher_name,
               category.category_name,
               book.isbn,
               book.bookshelf,
               book.cover_url,
               book.publish_date
        FROM tb_book book
                 JOIN tb_author author ON book.author_id = author.id
                 JOIN tb_publisher publisher ON book.publisher_id = publisher.id
                 JOIN tb_category category ON book.category_id = category.id
        WHERE book.is_delete = 0
    </select>

    <!--获取图书详情-->
    <select id="getBookDetail" resultType="com.libre.pojo.vo.app.BookDetailVO">
        select book.id,
               book.book_name,
               publisher.publisher_name,
               author.author_name,
               book.introduction,
               book.publish_date,
               book.isbn,
               book.cover_url
        from tb_book book
                 join tb_author author on book.author_id = author.id
                 join tb_publisher publisher on book.publisher_id = publisher.id
        where book.id = #{bookId}
          and book.is_delete = 0
    </select>
    <select id="findBookDockById" resultType="com.libre.pojo.doc.BookDoc">
        SELECT book.id,
               book.book_name,
               author.author_name,
               publisher.publisher_name,
               category.category_name,
               book.isbn,
               book.bookshelf,
               book.cover_url,
               book.publish_date
        FROM tb_book book
                 JOIN tb_author author ON book.author_id = author.id
                 JOIN tb_publisher publisher ON book.publisher_id = publisher.id
                 JOIN tb_category category ON book.category_id = category.id
        WHERE book.id = #{bookId}
          and book.is_delete = 0
    </select>
    <!--带个人业务状态的图书查询-->
    <select id="search" resultType="com.libre.pojo.vo.app.SearchBookVO">
        select book.id,
        book.book_name,
        author.author_name,
        publisher.publisher_name,
        book.isbn,
        book.cover_url,
        book.publish_date,
        lend.state,
        lend.due_time
        from tb_book book
        join tb_author author on book.author_id = author.id
        join tb_publisher publisher on book.publisher_id = publisher.id
        join tb_lend lend on book.id = lend.book_id
        and lend.user_id = #{searchDTO.userId}
        and lend.state in (1, 3)
        and lend.is_delete = 0
        where book.is_delete = 0 and lend.user_id=#{searchDTO.userId}
        <if test="searchDTO.keyword != null and searchDTO.keyword != ''">
            and (
            book.book_name like concat('%', #{searchDTO.keyword}, '%')
            or author.author_name like concat('%', #{searchDTO.keyword}, '%')
            or publisher.publisher_name like concat('%', #{searchDTO.keyword}, '%')
            or book.isbn like concat('%', #{searchDTO.keyword}, '%')
            )
        </if>
        <if test="searchDTO.state != null">
            and lend.state = #{searchDTO.state}
        </if>
        <choose>
            <when test="searchDTO.isDateSort != null and searchDTO.isDateSort == 1">
                order by book.publish_date desc
            </when>
            <otherwise>
                order by book.create_time desc
            </otherwise>
        </choose>
    </select>

    <select id="findBookDocPage" resultType="com.libre.pojo.doc.BookDoc">
        SELECT
            b.id AS id,
            b.book_name AS bookName,
            a.author_name AS authorName,      p.publisher_name AS publisherName,b.isbn AS isbn,
            b.cover_url AS coverUrl,
            b.publish_date AS publishDate,
            b.is_delete AS isDelete
        FROM tb_book b
                 LEFT JOIN tb_author a ON b.author_id = a.id
                 LEFT JOIN tb_publisher p ON b.publisher_id = p.id
        WHERE b.is_delete = 0                LIMIT #{offset}, #{size}
    </select>
</mapper>
