<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libre.mapper.LendMapper">
    <!--分页查询借阅信息-->
    <select id="pageQueryLend" resultType="com.libre.pojo.vo.LendPageVO">
        select lend.id,
        lend.user_id,
        lend.book_id,
        lend.create_time as lend_time,
        lend.due_time,
        lend.return_time,
        lend.renew_count,
        lend.state,
        user.username,
        book.book_name
        from tb_lend lend
        join tb_user user on lend.user_id = user.id
        join tb_book book on lend.book_id = book.id
        where lend.is_delete = 0
        <if test="lendPageDTO.userId!=null">
            and lend.user_id = #{lendPageDTO.userId}
        </if>
        <if test="lendPageDTO.bookId!=null">
            and lend.book_id = #{lendPageDTO.bookId}
        </if>
        <if test="lendPageDTO.state!=null">
            and lend.state = #{lendPageDTO.state}
        </if>
    </select>
    <!--统计最近7天新增的借阅数量-->
    <select id="getRecentLendTrend" resultType="com.libre.pojo.vo.admin.RecentLendTrendItem">
        select date(create_time) as date, count(0) as count
        from tb_lend
        where is_delete = 0
          and date(create_time) >= date_sub(now(), interval 7 day)
        group by date(create_time)
    </select>
    <!--获取图书排行-->
    <select id="getHomeTopBook" resultType="com.libre.pojo.vo.admin.HomeTopBookItem">
        select book.book_name, count(0) as lend_count
        from tb_lend lend
                 join tb_book book on lend.book_id = book.id
        where lend.is_delete = 0
        group by lend.book_id
        order by lend_count desc
        limit 5
    </select>
    <!-- 查询借阅数量最多的3本书-->
    <select id="getHomeTopLendBookList" resultType="com.libre.pojo.vo.user.HomeTopLendBookItem">
        select book.id, book.book_name, author.author_name, book.cover_url, book.publish_date, count(0) as lend_count
        from tb_lend lend
                 join tb_book book on lend.book_id = book.id
                 join tb_author author on book.author_id = author.id
        where lend.is_delete = 0
        group by book.id
        order by lend_count desc
        limit 3
    </select>
    <!--分页查询用户借阅书籍-->
    <select id="pageQueryMyLend" resultType="com.libre.pojo.vo.user.MyLendBookVO">
        select book.id,
        book.book_name,
        book.cover_url,
        author.author_name,
        publisher.publisher_name,
        book.isbn,
        lend.create_time as lendTime,
        lend.due_time as dueTime
        from tb_lend lend
        join tb_book book on lend.book_id = book.id
        join tb_author author on book.author_id = author.id
        join tb_publisher publisher on book.publisher_id = publisher.id
        where lend.is_delete = 0
        and lend.user_id = #{myLendPageDTO.userId}
        and (lend.state=1 or lend.state=3)
        <if test="myLendPageDTO.keyword != null and myLendPageDTO.keyword != ''">
            and (
            book.book_name like concat('%', #{myLendPageDTO.keyword}, '%')
            or author.author_name like concat('%', #{myLendPageDTO.keyword}, '%')
            or publisher.publisher_name like concat('%', #{myLendPageDTO.keyword}, '%')
            or book.isbn like concat('%', #{myLendPageDTO.keyword}, '%')
            )
        </if>
        <if test="myLendPageDTO.startDate != null">
            and lend.create_time &gt;= #{myLendPageDTO.startDate}
        </if>
        <if test="myLendPageDTO.endDate != null">
            and lend.create_time &lt;= #{myLendPageDTO.endDate}
        </if>
        order by lend.create_time desc
    </select>
    <select id="countOverdueLend" resultType="java.lang.Long">
        select count(0)
        from tb_lend
        where is_delete = 0
        and state = 2
        and due_time &lt; now()
    </select>
    <!--分页查询用户历史借阅书籍-->
    <select id="pageQueryMyLendHistory" resultType="com.libre.pojo.vo.user.MyLendHistoryBookVO">
        select book.id,
        book.book_name,
        author.author_name,
        publisher.publisher_name,
        book.isbn,
        lend.state,
        book.cover_url,
        lend.create_time as lendTime,
        lend.return_time as returnTime
        from tb_lend lend
        join tb_book book on lend.book_id = book.id
        join tb_author author on book.author_id = author.id
        join tb_publisher publisher on book.publisher_id = publisher.id
        where lend.is_delete = 0
        and lend.user_id = #{myLendPageDTO.userId}
        <if test="myLendPageDTO.keyword != null and myLendPageDTO.keyword != ''">
            and (
            book.book_name like concat('%', #{myLendPageDTO.keyword}, '%')
            or author.author_name like concat('%', #{myLendPageDTO.keyword}, '%')
            or publisher.publisher_name like concat('%', #{myLendPageDTO.keyword}, '%')
            or book.isbn like concat('%', #{myLendPageDTO.keyword}, '%')
            )
        </if>
        <if test="myLendPageDTO.startDate != null">
            and lend.create_time &gt;= #{myLendPageDTO.startDate}
        </if>
        <if test="myLendPageDTO.endDate != null">
            and lend.create_time &lt;= #{myLendPageDTO.endDate}
        </if>
        order by lend.create_time desc
    </select>
    <!--分页查询用户借阅书籍详情-->
    <select id="pageQueryMyLendDetail" resultType="com.libre.pojo.vo.user.MyLendBookDetailVO">
        select book.id,
        book.book_name,
        book.cover_url,
        author.author_name,
        publisher.publisher_name,
        lend.due_time as dueTime,
        lend.state
        from tb_lend lend
        join tb_book book on lend.book_id = book.id
        join tb_author author on book.author_id = author.id
        join tb_publisher publisher on book.publisher_id = publisher.id
        where lend.is_delete = 0
        and lend.user_id = #{userId}
        and (lend.state=1 or lend.state=3)
        order by lend.create_time desc
    </select>
    <update id="updateOverTimeLend">
        UPDATE tb_lend
        SET state = 2
        WHERE is_delete = 0
          AND state = 1
          AND NOW() > due_time;
    </update>
</mapper>